*{
    margin:0;
    padding: 0;
}

#fluid-container{
    display: inline-flex !important;
    flex-direction: column !important;
    margin-right: 2rem !important;
    height: 100% !important;
    margin: 2em 0 2em 2em;
}

#container> #propsValues{
    margin-left: 2rem;
}

div > h1{
    text-align: center;
    font-size: 2.4rem;
    border-top: 2px solid teal;
}

#buttons, #returnButton{
    margin: 1em !important;
    padding: 2em !important;
}
